# vi ft=sh
export FZF_DEFAULT_COMMAND='echo $(git --git-dir=$HOME/dotfiles/ --work-tree=$HOME ls-files) ".config/shell/local.sh" ".config/shell/secrets.sh" | tr " " "\n"'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
# export GIT_DIR="$HOME/dotfiles/"
# export GIT_WORK_TREE="$HOME"
