[alias]
   default-branch = !git remote show origin | awk -F': ' '/HEAD branch:/{ print $2 }'
	current-branch = symbolic-ref --short HEAD
	root = rev-parse --show-toplevel
	latest-tag = !git tag | sort -V | tail -1
	sha = !git log origin/$(git default-branch).. --format='%h (%cd) %s' --date=relative | fzf --reverse | awk '{print $1}'
	fixup = !git commit --fixup=$(SHA=$(git sha) && echo "${SHA}~1" | xsel --clipboard | echo $SHA)
	churn = !git log --all -M -C --name-only --format='format:' "$@" | sort | grep -v '^$' | uniq -c | sort -n | awk 'BEGIN {print "count\tfile"} {print $1 "\t" $2}'
	nuke = !git reset --hard && git clean -f
	undo = reset --soft HEAD~1
	ignored = !git ls-files -v | grep "^[[:lower:]]"
[core]
	editor = nvim
	excludesfile = ~/.config/global_git_ignore
	pager = less
[user]
	name = Zach Taylor
	email = 108883+taylorzr@users.noreply.github.com
[include]
	path = ~/.local.gitconfig
[push]
	default = simple
	autoSetupRemote = true
[rebase]
	autosquash = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
; set vi & vim to load nvim, so nut sure if this is necessary:
[mergetool "vimdiff"]
	path = nvim
	trustExitCode = false
; FIXME: Is this still necessary?
; Supports installing go binaries from private repositories
; [url "git@github.com:"]
; 	insteadOf = https://github.com/
[commit]
	gpgsign = true
[interactive]
  singleKey = true
