.config/shell/local.sh
.config/shell/secrets.sh

code/

.profile
.bash_logout
.bashrc
.bash_history
.histfile
.psql_history
.python_history
.rediscli_history
.fzf.bash
.fzf.zsh
.fzf/
.viminfo
.zcompdump

.bundle/
.cache/
.tmux/
.cpan/
.gem/
.gnupg/
.local/
.npm/
.ssh/
.sudo_as_admin_successful
.rubies/
.vim/
.wget-hsts
.zsh/
docker/.buildNodeID
dotfiles/
go/
src/

.config/coc/
.config/direnv/
.config/nvim/.netrwhist
.config/nvim/autoload/
.config/nvim/ftplugin/
.config/nvim/plugged/
.config/nvim/spell/
.config/pulse/
