code/
dotfiles/

.config/kitty/dont_commit_me.conf
.config/shell/local.sh
.config/shell/secrets.sh

.zsh/
.zsh_history
.zsh_sessions/
.zcompdump

.fzf.bash
.fzf.zsh
.fzf/

.config/direnv/
.config/nvim/.netrwhist
.config/nvim/autoload/
.config/nvim/ftplugin/
.config/nvim/plugged/
.config/nvim/plugin/
.config/nvim/spell/
.config/pulse/

.profile
.bash_logout
.bashrc
.bash_history
.histfile
.psql_history
.python_history
.rediscli_history
.viminfo

.bundle/
.cache/
.tmux/
.cpan/
.gem/
.gnupg/
.local/
.npm/
.ssh/
.rubies/
.vim/
.wget-hsts
go/
src/

# Mac directories
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Public/
