! Base16 Dracula
! Author: Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)

! base00: #282936
! base01: #3a3c4e
! base02: #4d4f68
! base03: #626483
! base04: #62d6e8
! base05: #e9e9f4
! base06: #f1f2f8
! base07: #f7f7fb
! base08: #ea51b2
! base09: #b45bcf
! base0A: #00f769
! base0B: #ebff87
! base0C: #a1efe4
! base0D: #62d6e8
! base0E: #b45bcf
! base0F: #00f769

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #3a3c4e, #3a3c4e, #282936

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #3a3c4e, #e9e9f4, #3a3c4e, #3a3c4e, #f7f7fb
rofi.color-active:  #3a3c4e, #62d6e8, #3a3c4e, #3a3c4e, #62d6e8
rofi.color-urgent:  #3a3c4e, #ea51b2, #3a3c4e, #3a3c4e, #ea51b2

! Set the desired separator style
rofi.separator-style: solid

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6
